* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v101_2 {
  width: 100%;
  height: 5478px;
  background: rgba(31,38,107,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_3 {
  width: 100%;
  height: 960px;
  background: url("../images/v101_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_4 {
  width: 722px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 363px;
  left: 599px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 112px;
  opacity: 1;
  text-align: left;
}
.v101_5 {
  width: 289px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 78px;
  left: 103px;
  font-family: Computer says no;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v101_6 {
  width: 100%;
  height: 100%;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 1099px;
  left: 137px;
  overflow: hidden;
}
.v101_7 {
  width: 624px;
  height: 568px;
  background: url("../images/v101_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2874px;
  left: 1081px;
  overflow: hidden;
}
.v101_8 {
  width: 602px;
  height: 653px;
  background: url("../images/v101_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3781px;
  left: 224px;
  overflow: hidden;
}
.v101_9 {
  width: 473px;
  height: 522px;
  background: url("../images/v101_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1976px;
  left: 278px;
  overflow: hidden;
}
.v101_10 {
  width: 559px;
  height: 508px;
  background: url("../images/v101_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4606px;
  left: 1168px;
  overflow: hidden;
}
.v101_11 {
    width: 752px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2165px;
    left: 925px;
    font-family: Avenir;
    font-weight: Light;
    opacity: 1;
    text-align: right;
    font-size: 36px;
}
.v101_12 {
    width: 752px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3014px;
    left: 224px;
    font-family: Avenir;
    font-weight: Light;
    opacity: 1;
    text-align: left;
    font-size: 36px;
}
.v101_13 {
    width: 752px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3994px;
    left: 976px;
    font-family: Avenir;
    font-weight: Light;
    opacity: 1;
    text-align: right;
    font-size: 36px;
}
.v101_14 {
  width: 822px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1965px;
  left: 855px;
  font-family: Computer says no;
  font-weight: Regular;
  font-size: 144px;
  opacity: 1;
  text-align: right;
}
.v101_15 {
  width: 822px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2874px;
  left: 173px;
  font-family: Computer says no;
  font-weight: Regular;
  font-size: 144px;
  opacity: 1;
  text-align: center;
}
.v101_16 {
  width: 822px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3857px;
  left: 906px;
  font-family: Computer says no;
  font-weight: Regular;
  font-size: 144px;
  opacity: 1;
  text-align: right;
}
.v101_17 {
    width: 752px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 4827px;
    left: 294px;
    font-family: Avenir;
    font-weight: Light;
    opacity: 1;
    text-align: left;
    font-size: 36px;
}
.v101_18 {
  width: 822px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4690px;
  left: 285px;
  font-family: Computer says no;
  font-weight: Regular;
  font-size: 144px;
  opacity: 1;
  text-align: left;
}
.v101_19 {
  width: 100%;
  height: 176px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5302px;
  left: 0px;
  overflow: hidden;
}
.v101_20 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5358px;
  left: 137px;
  font-family: Computer says no;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v101_21 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1240px;
  left: 260px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v101_22 {
  width: 157px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 87px;
  left: 1595px;
  font-family: Computer says no;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v101_23 {
  width: 141px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 87px;
  left: 1096px;
  font-family: Computer says no;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v101_24 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 87px;
  left: 1232px;
  font-family: Computer says no;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v101_25 {
  width: 242px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 87px;
  left: 1353px;
  font-family: Computer says no;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
