* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v13_13 {
  width: 100%;
  height: 2847px;
  background: rgba(31,38,107,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_14 {
  width: 100%;
  height: 960px;
  background: url("../images/v13_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_15 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 305px;
  left: 57px;
  font-family: Playfair Display;
  src: url("../rjviernes620.github.io/PlayfiarDisplay-Regular.tff") format('Regular')
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v13_16 {
  width: 432px;
  height: 432px;
  background: url("../images/v13_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 422px;
  left: 577px;
  overflow: hidden;
}
.v13_17 {
  width: 289px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 99px;
  left: 75px;
  font-family: Computer says no;
  src: url("../rjviernes620.github.io/Computer says no.tff") format();  
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v13_18 {
  width: 897px;
  height: 100%;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 1076px;
  left: 75px;
  overflow: hidden;
}
.v13_19 {
  width: 619px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1312px;
  left: 133px;
  font-family: Computer says no;
  src: url("../rjviernes620.github.io/Computer says no.tff");
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v31_14 {
  width: 726px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1370px;
  left: 133px;
  font-family: Computer says no;
  src: url("../rjviernes620.github.io/Computer says no.tff");  
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v37_31 {
  width: 100%;
  height: 176px;
  background: url("../images/v37_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2671px;
  left: 0px;
  overflow: hidden;
}
.v21_51 {
  width: 100%;
  height: 176px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v31_15 {
  width: 651px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 49px;
  left: 64px;
  font-family: Computer says no;
  src: url("../rjviernes620.github.io/Computer says no.tff");  
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v31_10 {
  width: 141px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 104px;
  left: 506px;
  font-family: Computer says no;
  src: url("../rjviernes620.github.io/Computer says no.tff");  
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v31_11 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 104px;
  left: 608px;
  font-family: Computer says no;
  src: url("../rjviernes620.github.io/Computer says no.tff");  
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v31_12 {
  width: 242px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 104px;
  left: 701px;
  font-family: Computer says no;
  src: url("../rjviernes620.github.io/Computer says no.tff");  
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v31_13 {
  width: 157px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 102px;
  left: 881px;
  font-family: Computer says no;
  src: url("../rjviernes620.github.io/Computer says no.tff");  
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
